<!DOCTYPE html>
<html>
  <head>

    <title>Single Artist</title>
  </head>
  <body>
    <h4>Artist Name: <%= @artist.name %></h4>


<a href="/artists">Return to Album List</a>
<a href="/artists">Return to Artist List</a>
<p><a href="/artists/<%= @artist.id %>/edit">Edit Artist</a></p>
  </body>
</html>
