<!DOCTYPE html>
<html>
  <head>
    <title>New Artist</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Add a new Artist</h1>

<form action="/artists" method="post">

  <div class="form-group">

    <label for="artist_name">Artist name</label>
    <input id="n" name="artist_name" class="form-control" type="text">

  </div>

  <button type="submit" class="btn">Go!</button>
</form>

  </body>
</html>
